@charset "utf-8";
/* CSS Document */


/* @import url("single-question.css"); */


.awesome-changelog {
	margin:30px 0;
}


.awesome-changelog .changelog {
	margin: 30px 0;
}

.awesome-changelog .version {
    background: #2b9eff;
    padding: 2px 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
}

.awesome-changelog .log-items {
    margin: 0;
    padding: 0 10px;
    margin-top: 10px;
}

.awesome-changelog .log-items li {
	padding: 5px 0;
	font-size: 13px;
	margin: 0;
}

.awesome-changelog .log-items li:last-child{
    border-bottom: none;
}

.awesome-changelog .log-items li span{
    margin-right: 10px;
    padding: 1px 8px;
}
.awesome-changelog .log-items li .date {
	background: #ddd;
}
.awesome-changelog .log-items li .type {
	margin-right: 0;
	padding: 1px 8px;
	color: #fff;
	border-radius: 3px;
	background: #bfbfbf;
}

.awesome-changelog .log-items li .type.add{
    background:#16A05C;
}

.awesome-changelog .log-items li .type.removed{
    background:#3879D9;
}

.awesome-changelog .log-items li .type.fixed{
    background:#3879D9;
}

.awesome-changelog .log-items li .type.update{
    background:#1488C4;
}






















