/*
	Admin Metabox css
*/


.changelog-list .single {
   /*  background: #dbdbdb4d; */
    padding: 20px;
    margin: 20px 0;
	border: 1px solid #ddd;
}

.changelog-list .remove {
    background: #ff3d3d;
    padding: 2px 6px;
    color: #fff;
    cursor: pointer;
}

.changelog-list .move {
    background: #3d98ff;
    padding: 2px 6px;
    color: #fff;
    cursor: move;
}

.changelog-list .log-items {
    margin: 10px;
}


.changelog-list .single textarea {
    vertical-align: top;
}








