/*
Admin css
*/


@import 'admin-metabox.css';


.qa-pending-question-count {
	background-color:#FE8163 !important;
}

.column-qa-status { text-align:center !important; }

.ac_queued, 
.ac_publish, 
.ac_solved, 
.ac_hold {
    color: #fff;
    width: 130px;
    text-align: center;
    padding: 5px 0;
	margin: 10px auto;
    border-radius: 3px;
}

.ac_queued 	{ background-color: #f39c12; }
.ac_publish 	{ background-color: #1488C4; }
.ac_solved 	{ background-color: #27ae60; }
.ac_hold 	{ background-color: #f1c40f; }




.section_title {
	margin:3px 0;
}
.qa-admin-help .faq{}
.qa-admin-help .faq .group-title {
  display: block;
  font-weight: bold;
  padding: 10px 0;
}


.qa-admin-help .faq .item {
  padding-left: 20px;
}
.qa-admin-help .faq .item a {
  display: block;
  font-size: 14px;
  padding: 4px 0;
  text-decoration: none;
}